<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" media="all" href="~/css/style.css">
</head>
<body>

    <h3>Yapmak istediğiniz işlemi seçin</h3>

    <ul class="button-list">
        <li><input type="button" class="button" value="Bölüm Ekle" onclick="buttonClicked('Bölüm Ekle')"></li>
        <li><input type="button" class="button" value="Doktor Ekle" onclick="buttonClicked('Doktor Ekle')"></li>
        <li><input type="button" class="button" value="Doktor Ekle - Yeni Yetkili Ekle" onclick="buttonClicked('Doktor Ekle - Yeni Yetkili Ekle')"></li>
        <li><input type="button" class="button" value="Hastane Raporu Sorgula" onclick="buttonClicked('Hastane Raporu Sorgula')"></li>
    </ul>


    <script src="~/js/app.js"></script>
</body>
</html>
